{% extends 'base.html.twig' %}

{% block title %}Nuestra App{% endblock %}

{% block body %}
    <section id="header-snrstpjf">
        <div class="text-white text-center bg-header-app" data-aos="fade-in">
            <h2 class="m-0 header-text" data-aos="zoom-in" data-aos-delay="300">NUESTRA APLICACIÓN</h2>
        </div>
    </section>

    <section class="app-promo">
        <div class="section-diagonal bg-green parallax-section">
            <div class="container d-flex flex-row align-items-center justify-content-center text-center">
                <div>
                    <p class="subtitle-snrstpjf text-white fw-bold text-end" data-aos="fade-up" data-aos-delay="200">ENTÉRATE DE <br> LAS NOVEDADES</p>
                </div>
                <div>
                    <img src="{{ asset('build/images/our_app/phone_01.png') }}" class="app-img mockup-hover" data-aos="fade-left" alt="Novedades">
                </div>
            </div>
        </div>

        <div class="section-diagonal-left bg-gray parallax-section">
            <div class="container d-flex flex-row align-items-center justify-content-center text-center">
                <img src="{{ asset('build/images/our_app/phone_02.png') }}" class="app-img mockup-hover" data-aos="fade-right" alt="Eventos">
                <p class="subtitle-snrstpjf text-white fw-bold text-start" data-aos="fade-up" data-aos-delay="200">TE RECORDAMOS LOS <br> PRÓXIMOS EVENTOS</p>
            </div>
        </div>

        <div class="section-diagonal bg-red parallax-section">
            <div class="container d-flex flex-row align-items-center justify-content-center text-center">
                <p class="subtitle-snrstpjf text-white fw-bold text-end" data-aos="fade-up" data-aos-delay="200">TUS DATOS Y LOS DE TUS  <br> FAMILIARES AL ALCANCE</p>
                <img src="{{ asset('build/images/our_app/phone_03.png') }}" class="app-img mockup-hover" data-aos="fade-left" alt="Datos">
            </div>
        </div>

        <div class="section-diagonal-left bg-green parallax-section">
            <div class="container d-flex flex-row align-items-center justify-content-center text-center">
                <img src="{{ asset('build/images/our_app/phone_04.png') }}" class="app-img mockup-hover" data-aos="fade-right" alt="Beneficios">
                <p class="subtitle-snrstpjf text-white fw-bold text-start" data-aos="fade-up" data-aos-delay="200">MOSTRAMOS A DETALLE <br> TUS BENEFICIOS</p>
            </div>
        </div>

        <div class="section-diagonal bg-gray parallax-section">
            <div class="container d-flex flex-row align-items-center justify-content-center text-center">
                <p class="subtitle-snrstpjf text-white fw-bold text-end" data-aos="fade-up" data-aos-delay="200">CON TODOS TUS <br> DOCUMENTOS A LA MANO</p>
                <img src="{{ asset('build/images/our_app/phone_05.png') }}" class="app-img mockup-hover" data-aos="fade-left" alt="Documentos">
            </div>
        </div>

        <div class="section-diagonal-left bg-red parallax-section">
            <div class="container d-flex flex-row align-items-center justify-content-center text-center">
                <img src="{{ asset('build/images/our_app/phone_06.png') }}" class="app-img mockup-hover" data-aos="fade-right" alt="Seguridad">
                <p class="subtitle-snrstpjf text-white fw-bold text-start" data-aos="fade-up" data-aos-delay="200">Y CON SEGURIDAD <br> GARANTIZADA</p>
            </div>
        </div>

        <div class="download-app text-white d-flex flex-row align-items-center justify-content-center" data-aos="fade-up">
            <div class="col-md-3 d-flex justify-content-center">
                <img src="{{ asset('build/images/our_app/phone_07.png') }}" class="image-download-app" data-aos="bounce" data-aos-delay="300" alt="Logo App">
            </div>
            <div class="col-md-9">
                <p class="fw-bold m-0 text-start text-outline download-button" data-aos="fade-up" data-aos-delay="500">NO TE QUEDES ATRÁS <br> ¡DESCARGA NUESTRA APP!</p>
            </div>
        </div>
    </section>

{% endblock %}
