<footer class="footer mt-5 pt-5 text-center">
    <div class="container-fluid">
        <a href="#" class="d-block mb-4 text-decoration-none text-back">
            <img src="{{ asset('build/images/icons/arrow-up.svg') }}" alt="Volver arriba" width="18" class="me-2">
            Volver al inicio
        </a>

        <div class="row align-items-center text-center text-md-start py-4 pb-5 border-top border-2 border-dark">
            <div class="col-md-4 mb-4 mb-md-0 footer-information">
                <p class="text-footer-snrstpjf mb-2 footer-image">
                    <img src="{{ asset('build/images/icons/schedule.svg') }}" alt="Horario" class="me-2 information-icon"> Lunes a jueves de 9 a.m. a 3 p.m.
                </p>
                <p class="text-footer-snrstpjf mb-2 footer-image">
                    <img src="{{ asset('build/images/icons/phone.svg') }}" alt="Teléfono" class="me-2 information-icon">
                    <a href="tel:5592969883" class="text-dark text-decoration-none">55 92 96 98 83</a>
                </p>
                <p class="text-footer-snrstpjf mb-0 footer-image">
                    <img src="{{ asset('build/images/icons/mail.svg') }}" alt="Correo" class="me-2 information-icon">
                    <a href="mailto:renovacionsindicalcjs@gmail.com" class="text-dark text-decoration-none">renovacionsindicalcjs@gmail.com</a>
                </p>
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center border-start border-end border-2 border-dark">
                <img src="{{ asset('build/images/logo.svg') }}" alt="PJF" class="img-fluid footer-image logo-footer">
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center">
                <p class="text-footer-snrstpjf mb-2">@renovacionsindicalpjf</p>
                <div class="d-flex justify-content-center justify-content-md-start gap-3">
                    <a href="https://www.instagram.com/renovacionsindicalcjf/#" class="text-dark fs-4">
                        <img src="{{ asset('build/images/icons/instagram.svg') }}" alt="Instagram" class="me-2 footer-social footer-image">
                    </a>
                    <a href="https://x.com/SNRSTPJF" class="text-dark fs-4">
                        <img src="{{ asset('build/images/icons/x.svg') }}" alt="X" class="me-2 footer-social footer-image">
                    </a>
                    <a href="https://www.facebook.com/p/Sindicato-Nacional-de-Renovaci%C3%B3n-al-Servicio-de-los-Trabajadores-del-PJF-100064742674436/" class="text-dark fs-4">
                        <img src="{{ asset('build/images/icons/facebook.svg') }}" alt="Facebook" class="me-2 footer-social footer-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
